body{
    margin: 0px;
}

body, div{
    box-sizing: border-box;
}
h2, h5{
    color:white;
}
.fontWhite{
    color: white;
}
.fontNavy{
    color:rgb(56, 56, 207);
}
.fontSize{
    font-size: 30px;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
}


button{
    /* padding: 3px; */
    width: 7rem;
    height: 3rem;
    background-color: black;
    color: white;
    border-radius: 4px;
}

/* sizing */
.Landing, .showPortfolio, .offer, .do{
    width: 100%;
}

.Landing{
    position: relative;
    /* background-color: skyblue; */
    background: linear-gradient(rgba(96, 174, 252, 0.995),rgb(56, 56, 207));
    width:100%;
    height: 400px;
}

.des{
    position: absolute;
    top: 20%;
    left: 15%;
}

.iphonePic{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 80%;
}

.showPortfolio{
    padding-top: 10px;
    height: 200px;
    text-align: center;
}

.offer{
    background-color: rgb(93, 116, 227);
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.offerWrap{
    display: flex;
    flex-wrap: wrap;
}

/* .offerWrap div{
    margin-left: 20px;
    margin-right: 20px;
} */

.do{
    background-color: gainsboro;
}

.do-des{
    text-align: center;
}


.onText{
    background-color: red;
    display: inline-block;
    position: absolute;
}

footer{
    display: flex;
    align-items: center;
}

.exurl{
    background-color: navy;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}